.navbar {
    padding-top: 2px;
    padding-bottom: 2px;
    border: 0;
    border-radius: 0;
    margin-bottom: 0;
    background-color: white;
    font-size: 10pt;
    font-weight: 200;
}

body {
	color: black;
}

small {
	color: #737373;
}

.navbar-brand {
	color: black !important;
	letter-spacing: 5px;
}

.navbar-nav li a {
	color: black !important;
}

.navbar-nav li a:hover {
    color: #808080 !important;
    text-decoration: underline;
}

.title {
	font-weight: bold;
	text-align: center;
	margin-bottom: 30px;
}

#prof-pic {
	margin-bottom: 18px;
}

.single-column {
	max-width: 480px;
	margin: auto;
}

.top-container {
	margin-top: 35px;
}

.grey-row {
	background-color: #f6f6f6;
	padding-top: 35px;
	padding-bottom: 35px;
}

.white-row {
	background-color: white;
	padding-top: 35px;
	padding-bottom: 35px;
}

.selected {
	text-decoration: underline;
}

p {
	font-family: Georgia, serif;
}

.work-name, .project-name {
	font-weight: bold;
}

.work-position {
	margin-top: 0;
	font-weight: normal;
}

.indented-content {
	margin-top: 30px;
	margin-left: 30px;
}

.subtitle-note {
	max-width: 480px;
	margin: auto;
	text-align: center;
	margin-bottom: 35px;
	font-style: italic;
}

.work-detail, .project-skills {
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

.album-art {
	margin-top: 26px;
}

.album-art-left {
	float: right;
}

.album-art-right {
	float: left;
}

.track-list {
	padding: 0;
	margin-top: 50px;
	margin-bottom: 50px;
	list-style-position: inside;
	font-weight: 500;
	font-size: 14pt;
}

.purchase-links a {
	position: relative;
	display: inline-block;
	vertical-align: middle;
	overflow: hidden;
	margin-right: 15px;
	margin-bottom: 15px;
}

.spotify {
	margin-top: 7px;
}

.apple-music {
	margin-top: 3px;
}

.google-play {
	margin-top: 4px;
}

.amazon {
	margin-top: 18px;
}

a:hover path, a:hover rect, a:hover polygon {
	fill: #808080;
}

footer {
	background-color: white;
	text-align: center;
	font-size: 14pt;
}

footer a {
	position: relative;
	display: inline-block;
	vertical-align: middle;
	overflow: hidden;
	color: black;
	padding: 7px;
}

footer a:hover {
	color: #808080;
}

@media screen and (max-width: 770px) {

	.album-art {
		width: 90%;
		margin:auto;
		float: none;
	}
}

@media screen and (max-width: 480px) {

	.indented-content {
		margin-left: 0px;
	}
}
